@font-face {
    font-family: 'League Spartan';
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
    /* You can also provide a local font file reference for better performance */
    /* src: local('League Spartan'), url('path/to/your/font/league-spartan.woff2') format('woff2'); */
}

body {
    padding-top: 110px;
    font-family: 'League Spartan', sans-serif;
    /* Other styles for your body tag */
}

/*Page-loader begin*/

.page-loader {
    display: hidden;
    align-items: first baseline;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.loader {
    display: hidden;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }

    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}

/*Page-loader begin*/

/*Nav bar styles begin*/
.navbar {
    background-color: #fff;
}

.navbar-nav>li {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-inline {
    padding-left: 5px;
}

.form-control {
    width: 250px;
    border-radius: 40px;
}

.nav-item.gallery .nav-link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #B51A2B;
    border-radius: 50%;
    margin-left: 10px;
}

.nav-item.gallery .nav-link {
    content: "";
    display: inline-block;
    color: #B51A2B;
    font-weight: 550;
}

.nav-item.stories .nav-link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #B51A2B;
    border-radius: 50%;
    margin-left: 10px;
}

.nav-item.stories .nav-link {
    content: "";
    display: inline-block;
    color: #B51A2B;
    font-weight: 550;
}
/*Nav bar styles begin*/

/*Gallery section begin*/
.card-columns {
    column-count: 6;
    column-gap: 1.25rem;
}

.card {
    margin-top: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-bottom: 1.25rem;
    width: 100%;
}

.card-img {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.photo a {
    color: #111
}

.Gallery-body {
    cursor: url('../images/Custom-Cursor.png'), auto;
}

.photo {
    cursor: url('../images/Custom-Cursor.png'), auto;
}

.photo img {
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

.photo .glow-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
}

.photo .glow {
    display: block;
    position: absolute;
    width: 40%;
    height: 200%;
    background: rgba(255, 255, 255, .2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
    margin-top: 0;
}

.photo {
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.photo.fade-in-up {
    opacity: 1;
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

@media (min-width: 200px) {
    .card {
        border: none;
    }
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 576px) {
    .card {
            border: none;
        }
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card {
            border: none;
        }
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card {
            border: none;
        }
    .card-columns {
        column-count: 6;
    }
}
/*Gallery section end*/

/*Tales Section begin*/
.card-link {
    cursor: url('../images/Custom-Cursor.png'), auto;
}

.tales-section {
    cursor: url('../images/Custom-Cursor.png'), auto;
}

.tales-section {
    font-family: 'League Spartan', sans-serif;
    display: grid;
    place-items: center;

    height: fit-content;
    background: linear-gradient(55deg, #AE445A 0%, #F39F5A 51%, #E8BCB9 85%);
}

.tales-section h4 {
    color: #F39F5A;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.tales-section h5 {
    font-size: medium;
}

.tales-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.tales-section img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.tales-section .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tales-section .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tales-section .tag+.tag {
    margin-left: .5em;
}

.tales-section .tag-heartbreak {
    background: black;
    color: #fafafa;
}

.tales-section .tag-love {
    background: red;
    color: #fafafa;
}

.tales-section .tag-funnies {
    background: orange;
    color: #fafafa;
}

.tales-section .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.tales-section .card__footer {
    display: flex;
    padding: 1rem;
}

.tales-section .user {
    display: flex;
    gap: .5rem;
}

.tales-section .user__image {
    width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
}

.tales-section .user__info>small {
    color: #666;
}

.tales-section p,
h5 {
    color: #111;
}

.tales-section .card-link {
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    background: #FAF9F6;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.card-link:hover {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.card-link {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card-link.fade-in-up {
    opacity: 1;
    transform: translateY(0);
}
/*Tales Section end*/